@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --bg-color: rgb(245, 248, 229);
  --text-color: #404040;
  --primary-color: #475569;
  --secondary-color: #cbd5e1;
  --task-color: #f6f6f6;
  --cancel-color: #e5e7eb;
  --confirm-color: #dc2626;
  --confirm-hover-color: #b91c1c;
  --task-size: 48px;
}

/* common style for all elements*/
* {
  font-family: Lato, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh; /* equals 100% of the total viewport */
  display: grid;
  grid-template-rows: auto 1fr;
}

h1 {
  margin: 32px 0;
}

/* style for buttons */
button {
  cursor: pointer;
  border: none;
  background: transparent;
  outline-color: var(--secondary-color);
  color: var(--primary-color);
  transition: 0.3s;
  opacity: 0.5;
}

button:is(:active, :hover) {
  opacity: 1;
}

/* container */
.container {
  width: min(1200px, 90%);
  margin: 0 auto;
}

/* columns */
.columns {
  display: flex;
  flex-direction: column; /* stack columns vertically on small screens */
  gap: 24px;
}

@media (min-width: 768px) {
  .columns {
    flex-direction: row;
  }
}

.column {
  flex: 1; /* equal width for all columns */
  display: grid;
  grid-template-rows: var(--task-size) 1fr;
  gap: 8px;
}

/* column titles */
.column-title {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--secondary-color);
  color: var(--primary-color);
}

.column-title h3 {
  font-size: 16px;
  text-transform: uppercase;
}

.column-title h3::after {
  content: attr(data-tasks);
  background: yellow;
  margin-left: 4px;
  border-radius: 4px;
  padding: 0 4px;
}

.column-title button {
  margin-left: auto;
  font-size: 32px;
}

/* container for tasks */
.tasks {
  min-height: var(--task-size);
  display: grid;
  align-content: start;
  gap: 8px;
}

.tasks > * {
  background: #fff;
  border-radius: 4px;
  padding: 14px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  min-height: var(--task-size);
}

/* draggable tasks */
.task {
  cursor: move;
  transition: 0.3s;
}
/* style for dragging task */
.task.dragging {
  cursor: default;
  box-shadow: none;
  background: var(--secondary-color);
  opacity: 0.5;
}

.task.dragging * {
  visibility: hidden;
}

.task:not(.dragging):hover {
  background: var(--task-color);
}

/* task menu with edit and delete buttons */
.task menu {
  margin-top: 14px;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.task button {
  width: 24px;
  height: 24px;
  font-size: 20px;
}

/* input for adding and editing tasks */
.task-input {
  outline: none;
  overflow-wrap: anywhere;
  padding-left: 40px;
}

.task-input::before {
  content: "\F392";
  font-family: "bootstrap-icons";
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.5;
}

.task-input:empty::after {
  content: attr(data-placeholder);
  opacity: 0.5;
}

/* confirm modal for delete */
.confirm-modal[open] {
  opacity: 1;
  transform: translate(-50%, -50%) translateY(0);
}

.confirm-modal {
  opacity: 1;
  transform: translate(-50%, -50%) translateY(50px);
  left: 50%;
  top: 50%;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s allow-discrete;
}

.confirm-modal[open]::backdrop {
  background: rgba(0, 0, 0, 0.25);
}

.confirm-modal::backdrop {
  background: rgba(0, 0, 0, 0);
  transition: all 0.3s allow-discrete;
}

@starting-style {
  .confirm-modal[open] {
    opacity: 0;
    transform: translate(-50%, -50%) translateY(50px);
  }

  .confirm-modal[open]::backdrop {
    background: rgba(0, 0, 0, 0);
  }
}

.confirm-modal form {
  padding: 32px;
}

.confirm-modal form > *:not(:last-child) {
  margin-bottom: 16px;
}

.confirm-modal h3 {
  font-size: 24px;
}

.confirm-modal div.preview {
  font-size: 14px;
  padding-left: 8px;
  border-left: 2px solid var(--secondary-color);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* truncate to two lines */
  line-clamp: 2;
  overflow: hidden;
  opacity: 0.75;
}

.confirm-modal menu {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.confirm-modal button {
  opacity: 1;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.1);
}

/* styles for cancel and confirm buttons in modal */
.confirm-modal button#cancel {
  border-color: var(--cancel-color);
}

.confirm-modal button#confirm {
  border-color: var(--confirm-color);
  background: var(--confirm-color);
  color: #fff;
}

.confirm-modal button#confirm:hover {
  border-color: var(--confirm-hover-color);
  background: var(--confirm-hover-color);
}
